header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, #5F2D8F 0%, rgba(95, 45, 143, 0) 100%);
    height: 100px;
    padding: 40px 50px !important;
    box-sizing: border-box;
}

.main-nav {
    width: 100%;
    justify-content: space-between;
}

.main-nav .fst {
    margin-right: auto;
}

.gallery-section {
    margin: 150px auto 0 auto;
    width: 100%;
    max-width: 1920px;
    padding: 0 50px;
    box-sizing: border-box;
}

.best {
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    left: 50px;
    top: 35%
}

.gallery {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 400px 0 0 0;
}

.gallery .item {
    position: absolute;
    top: 0;
    transition: transform 0.7s ease, z-index 0s 0.35s;
    cursor: pointer;
    z-index: 1;
}

.gallery .item.active {
    z-index: 100;
    transition: transform 0.7s ease, z-index 0s 0s;
}

.gallery .item img {
    height: 500px;
    width: auto;
    display: block;
}

.gallery .item .info {
    position: absolute;
    bottom: 0;
    left: calc(100% + 40px);
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 360px;
    pointer-events: none;
}

.gallery .item.active .info {
    opacity: 1;
    transition: opacity 0.7s ease 0.5s;
}

.gallery .item .info .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}

.gallery .item .info .info-columns {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.gallery .item .info .column {
    flex: 0 0 auto;
    min-width: 0;
}

.gallery .item .info .column p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.4;
}